.calculator {
    display: flex;
    margin: auto;
    width: 350px;
    height: 550px;
    border-style: solid;
    border-color: gray; 
    flex-wrap:wrap;
    justify-content: center;
    border-radius: 2%;
}
.screen {
    display: grid;
    width: 320px;
    height: 125px;
    border-style: solid;
    border-color: gray; 
    margin: 15px;
    border-radius: 3%
}

.display {
    width: 150px;
    height: 50px;
}

.selected {
    width: 170px;
    height: 75px;
}

.buttons {
    display:grid;
    grid-template-columns: 75px 75px 75px 75px;
    margin: 10px;
}
